.modal {
    position: fixed;
    inset:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-window {
    z-index: 2;
    position: fixed;
    width: 50vw;
    /* height: 70vh; */
    background-color: #4a5568; /* bg-gray-700 */
    border-radius: 10px;
    padding: 20px;
}

.modal-window h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.playlists-to-pick {
    padding: 0;
    font-size: 1rem;
}

.playlists-to-pick li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlists-to-pick li:nth-child(odd) {
    background-color: rgba(0,0,0,0.5);
}

.playlists-to-pick li .btn {
    background-color: #384256;
    width: 10%;
}

.playlists-to-pick li .btn:hover {
    background-color: var(--primary-color);
}

.playlists-to-pick li .btn.added {
    background-color: rgb(13, 107, 13);
    cursor:default;
}

.close-button {
    float: right;
    font-weight: bold;
}

.close-button:hover {
    color: #a0aec0;
}