.trending {
  background-color: #2d3748; /* bg-gray-800 */
  color: #ffffff; /* text-white */
  padding: 2rem; /* p-8 */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 33vh; /* Now using only 40% of the viewport height */
}

.left-section,
.right-section {
  display: flex;
  flex: 1;
}

.left-section {
  flex-direction: column;
  margin-left: 3rem; /* mr-6 */
}

.right-section {
  flex-direction: row;
}

.date,
.video-counts {
  flex: 1; /* Each takes up half of the left section */
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; /* Space between the two boxes */
}

.label {
  color: #a0aec0; /* text-gray-400 */
  margin-bottom: 0.25rem; /* mb-1 */
  font-size: 2rem; /* text-xl */
}

.value {
  font-size: 1.5rem; /* text-lg */
}

.divider {
  margin: 1.5rem 0; /* my-6 */
  border-color: #4a5568; /* border-gray-700 */
}
