* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global link styles */
a {
  text-decoration: none;
  color: inherit;
}

.signup-main {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #2a3447;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-auth-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start space-between;
  align-items: center; /* Added to center the form horizontally */
  padding: 20px; /* Decreased padding to make the form smaller */
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.sign-auth-form input {
  margin: 0 0 0 8px;
  border-radius: 3px;
  color: black;
  padding: 0 6px;
}

.sign-auth-form select {
  margin: 0 0 0 8px;
  border-radius: 3px;
  color: black;
  padding: 1px 6px;
}

.signup-title {
  margin-bottom: 20px;
  text-align: center;
  align-self: center;
  font-size: 2em;
  font-weight: bold;
}

.signup-name {
  margin-bottom: 20px;
}

.signup-region {
  margin-bottom: 13px;
}

.signup-password {
  margin-bottom: 20px;
}
