.dashboard {
  background-color: #2d3748;
  /* bg-gray-800 */
  color: #ffffff;
  /* text-white */
  padding: 2rem;
  /* p-8 */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  padding: 1rem 0;
}

.left-section {
  box-sizing: border-box;
  flex-direction: column;
  margin-left: 3rem;
  /* mr-6 */
  flex: 1;
}

.right-section {
  display: flex;
  flex-direction: row;
  flex: 3;
}

.bar {
  flex: 1;
}

.pie {
  flex: 1;
}

.info {
  flex: 1;
  /* Each takes up half of the left section */
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  /* Space between the two boxes */
}

.label {
  color: #a0aec0;
  /* text-gray-400 */
  margin-bottom: 0.25rem;
  /* mb-1 */
  font-size: 2rem;
  /* text-xl */
}

.value {
  font-size: 1.5rem;
  /* text-lg */
}

.divider {
  margin: 1.5rem 0;
  /* my-6 */
  border-color: #4a5568;
  /* border-gray-700 */
}

.video-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* Adjust as needed for your design */
  gap: 1rem;
}

/* Responsive grid */
@media (max-width: 1000px) {
  .video-grid {
    flex-direction: column;
  }
}