.playlist-container {
  width: 100%;
}

.playlist-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.playlist-title-container .playlist-title {
  width: 100%;
  padding: 0;
  color: var(--text-color);
  margin-bottom: 10px;
  font-size: 20pt;
  font-weight: bold;
}

.playlist-title-container .btn {
  width: 30%;
  min-width: 200px;
  min-height: 50px;
}

.h4 {
  color: var(--text-color);
  margin-bottom: 10px;
}

.contained-videos {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.playlist-container.btn {
  margin-top: 20px;
}

.created-btn {
  background: #384256;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--primary-color);
}

.created-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.playlist-input {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.contained-videos {
  width: 100%;
}

.playlist-video {
  width: 100%;
  display: inline-grid;
  grid-template-columns: [thumbnail] 0.5fr [name] 1.5fr [num_videos] 1fr [top_category] 1fr [delete] 0.75fr;
  min-height: 50px;
  max-height: 5%;
}

.playlist-video .Toastify {
  height: 0;
  margin: 0;
  width: 0;
}

.playlist-video:nth-child(odd) {
  background-color: rgba(0,0,0,0.2);
}

.playlist-video > * {
  margin: 10px;
  display: flex;
  align-items: center;
}

.contained-videos .thumbnail {
  min-width: 50px;
  width: 90%;
  border-radius: 5px;
}

.contained-videos .thumbnail:hover {
  transition: transform 0.1s ease-in-out;
  transform: scale(1.03);
}

.contained-videos .btn {
  padding: 0;
  height: 80%;
  width: 80%;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
