h2 {
    font-size: 20pt;
    font-weight: bold;
}

.playlist-pic {
    min-height: 100px;
    max-height: 200px;
    margin: 20px;
    border-radius: 20px;
}

.playlist-formatted li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    height: 5%;
}

.playlist-formatted li:nth-child(odd) {
    background-color: rgba(0,0,0,0.2);
}

.playlist-formatted li span {
    width: 30%;
}

.playlist-formatted .thumbnail {
    width: 8%;
    margin: 10px;
    border-radius: 10px;
}

.btn {
    margin: 10px;
}